.git
.github
.env
*.env
pfg.yaml

**/.gradle
**/build
**/out
**/.idea
**/*.iml

**/.venv
**/venv
**/.uv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.egg-info
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache

**/*.log
**/.DS_Store
