# Use http://host.docker.internal:8080 instead when running pfg-hub locally.
PFG_HUB_URL=https://hub.promptforgood.dev
PFG_TOKEN=
RUNNER_ID=
ANTHROPIC_API_KEY=
GITHUB_TOKEN=
CONTRIBUTOR_NAME=anonymous
MAX_TOKENS_PER_DAY=100000
