# Use http://host.docker.internal:8080 instead when running pfg-hub locally.
PFG_AGENT_ADMIN_TOKEN=change-me
PFG_HUB_URL=https://hub.promptforgood.dev
PFG_HUB_TLS_VERIFY=true
PFG_TOKEN=
RUNNER_ID=
ANTHROPIC_API_KEY=
GITHUB_TOKEN=
CONTRIBUTOR_NAME=anonymous
MAX_TOKENS_PER_DAY=100000
